<!doctype html>
<html ng-app="omiyaApp">
<head>
	<title>Omiya-Sushi</title>
	<link rel="stylesheet" type="text/css" href="styles/style.css"/>
	<script src="scripts/jquery-1.11.3.min.js"></script>
	<script src="scripts/angular.min.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<table class="header">
				<tr>
					<td>
						<h1>OMIYA SUSHI</h1>
					</td>
					<td>
						<nav class="navBar" align="center"> 
							<a href="index.html">
					            HOME
					        </a>
					        &nbsp;&nbsp;&nbsp;&nbsp;
					        <a href="services.htm">
					            ABOUT
					        </a>
					        &nbsp;&nbsp;&nbsp;&nbsp;
					        <a href="JS Tutorial/Ajax.html">
					            MENU
					        </a>
					        &nbsp;&nbsp;&nbsp;&nbsp;
					        <a href="JS Tutorial/Ajax.html">
					            LOCATION
					        </a>
					        &nbsp;&nbsp;&nbsp;&nbsp;
					        <a href="JS Tutorial/Ajax.html">
					            CONTACT
					        </a>
					    </nav>
					</td>
				</tr>

				
			</table>
			

		</header>
		
		<div ng-controller="nscdaAppController"> 
			<div slider align="center">
				<div id="slider">
					<ul class="slides">
						<li class="slide" ng-repeat="item in imageList">
							<img src="{{item.src}}" width="900" height="500">
						</li>
						<li class="slide">
							<img src="{{imageList[0].src}}" width="900" height="500">
						</li>
					</ul>
				</div>
			</div>

			<hr \>

			<div align="center">
				<div class="half">
					<input type="text" ng-model="newName" placeholder="Enter Your Name">
					<input type="text" ng-model="newAge" placeholder="Enter Your Age">
					<button ng-click="updateCustomers();" >Join Our Customer List</button> 
					<p>
						Welcome to our website, dear {{yourName}}!
					</p>
					<p>Our Customer List:</p>
					<ul>
						<li ng-repeat="person in customers">
			                name: {{person.name}}, age: {{person.age}}
			        	</li> 
					</ul>
				</div>
			</div>
			
	</div>
		<footer>
			<hr \>
				<h3>OMIYA SUSHI</h3>
				<h3>2317 Ave U, Brooklyn, NY 11229</h3>
				<h3>(718) 891-8808</h3>
			<hr \>
		</footer>
	</div>
	<script src="scripts/index.js"></script>
</body>
</html>