<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>angularDemo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->

        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body ng-app="nscdaApp">

  <!-- data-ng-init="customers =[{'name':'John Smith',city:'Phoenix'},{'name':'John Doe',city:'New York'},{'name':'John Doe',city:'San Francisco'}]" -->

  <!-- data-ng-init="names=['Dave','Napur','Heddy']" 
  
      
            <!--
            <h1>{{title}}</h1>


            Name 1: <input type="text" data-ng-model="name" /> {{name}}


                
            <ul>
 
            <li ng-repeat="name in names">
                {{name}}
            </li> 
            </ul>  

            

        -->

        <div class="container" ng-controller="nscdaAppController">



            <li ng-repeat="name in names">
                {{name.cap}},{{name.city}}
                {{$last}}
            </li> 


             <button ng-click="updateName();" >Update Names</button> 




            <div ng-show="showflag">           
                Two way binding field: <input type="input" ng-model="title1" /> <Br/>
                <button ng-click="updateTitle1()" >Update Title1</button>  <Br/>
                String Interpolation : <input type="input" ng-model="title2" /> <Br/>
                <button ng-click="updateTitle2()" >Update Title2</button>  <Br/>
                <p class="jm-find" title1="title1" title2="title2"></p>
                <btn val="10"></btn>
                <button ng-click="addBtn();">Add New Button</button>
                <div id="holder"></div>
            </div>

        </div> 


        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="scripts/jquery-1.11.3.min.js"></script>
        <script src="scripts/angular.min.js"></script>

        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js({app,.tmp}) scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
