body{
	background-image: url("http://images.forwallpaper.com/files/thumbs/preview/16/169609__background-for-the-table-texture-color-black_p.jpg");
}
nav.navBar{
	text-align: center;
	width: 100%;
	height: 50px;
	top:0px;
}
.centerContent{
	text-align: center;
}
div.half{
	width: 50%;
}
.container{
	background-color: rgba(255,255,255,0.9);
	overflow: auto;
	width: 1000px;
	margin: 0 auto; 
	border: 5px solid #000000;
	padding: 10px;
}
#slider {
	width: 900px;
	height: 500px;
	overflow: hidden;
}
	
#slider .slides {
	display: block;
	width: 6000px;
	height: 500px;
	margin: 0;
	padding: 0;
}
	
#slider .slide {
	float: left;
	list-style-type: none;
	width: 900px;
	height: 500px;
}
h1{ 
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}
h3{
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}
h4{
	font-family: Georgia, Times, 'Times New Roman', serif;
	text-align: center;
}
tr{
	padding: 10px;
}
td{
	padding: 10px;
	height: 100%;
}
table.header{
	width: 100%;
}
td.logo{
	border: 1px solid #000000;
	padding: 10px;
	text-align: right;
	width: 30%;
}
td.nav{
	border: 1px solid #000000;
	padding: 10px;
	text-align: right;
	width: 70%;
}
td.sideBar{
	border: 0px solid #000000;
	padding: 10px;
	width: 25%;
	height: 100%;
	vertical-align: top;
}
td.menuBar{
	border: 0px solid #000000;
	padding: 10px;
	width: 25%;
	height: 100%;
	vertical-align: top;
}
td.contentBar{
	border: 0px solid #000000;
	padding: 10px;
	width: 75%;
	height: 100%;
	vertical-align: top;
}
.allCaps{
	text-transform: capitalize;
}
p.uppercase {
    text-transform: uppercase;
}
a:link {
	color:#000000;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color:#000000;
}
a:hover {
	text-decoration: underline;
	color: #FF0000;
}
a:active {
	text-decoration: none;
	color:#FFFFFF;
}